![](https://fenc.wang/imgs/2020/08/3565654bfbe9ffa0.png)

In [59]:
import tushare as ts
import pandas as pd

pro = ts.pro_api('xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx')

## 计算科创板、其他板块成交金额只有5000万的企业比例

In [60]:
# 获取单日整个A股市场的交易数据
df = pro.daily(trade_date='20210526')
#将成交金额变为以千万为单位
df['amount'] = df['amount'].div(10)

In [61]:
# 筛选科创板企业
kcb = df[df['ts_code'].str.contains('688')]

In [62]:
# 计算总数
kcb_amt = len(kcb['ts_code'])
kcb_amt

286

In [63]:
# 计算成交金额少于5千万的企业数
kcb_lv = len(kcb[kcb['amount']<=5000])
#计算比例
kcb_lv_ratio = kcb_lv/kcb_amt
kcb_lv_ratio

0.45454545454545453

In [64]:
# 筛选创业板、主板、中小板的企业
rest = df[~df['ts_code'].str.contains('688')]
#计算总数
rest_amt = len(rest['ts_code'])
# 计算成交金额少于5千万的企业数
rest_lv = len(rest[rest['amount']<=5000])
#计算比例
rest_lv_ratio = rest_lv/rest_amt
rest_lv_ratio

0.40492782478845196

## 科创板、其他板块不同成交金额对应的企业数

In [65]:
bins = [0,3000,5000,10000,20000,50000,100000,200000,500000,1000000,1500000]

In [66]:
bins_df = pd.DataFrame()
bins_df['kcb'] = pd.cut(kcb['amount'], bins=bins).value_counts()
bins_df['rest'] = pd.cut(rest['amount'], bins=bins).value_counts()
bins_df=bins_df.sort_index()
bins_df

                    kcb  rest
(0, 3000]            81  1087
(3000, 5000]         49   540
(5000, 10000]        65   756
(10000, 20000]       51   649
(20000, 50000]       29   562
(50000, 100000]       8   255
(100000, 200000]      2    96
(200000, 500000]      1    60
(500000, 1000000]     0    13
(1000000, 1500000]    0     0

In [67]:
(bins_df/bins_df.sum())*100

                     kcb  rest
(0, 3000]          28.32 27.05
(3000, 5000]       17.13 13.44
(5000, 10000]      22.73 18.82
(10000, 20000]     17.83 16.15
(20000, 50000]     10.14 13.99
(50000, 100000]     2.80  6.35
(100000, 200000]    0.70  2.39
(200000, 500000]    0.35  1.49
(500000, 1000000]   0.00  0.32
(1000000, 1500000]  0.00  0.00

![](https://fenc.wang/imgs/2020/08/3565654bfbe9ffa0.png)